.threescreen {
    color: white;
    background-color: #1ABC9C;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    min-height: 600px;
   
}

.threescreen  h2{
    font-size: 2.25rem;
    padding:30px ;
}
.articlethreescreen
{
    display: flex;
    justify-content: space-around;
    min-height: 200px;
}
.articlethreescreen p {
width: 45%;
}
.threescreen  button {
    cursor: pointer;
    padding: 20px;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    width: 150px;
}