/* footer */
.footer {
    background-color: #212529;
    min-height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-align: center;
}
.footer .sec {
    width: 30%;
}
.sec .bottstraplink {
    color:#1ABC9C ;
}
.sec .linkscoial {
    font-size: 40px;
    color: white;

}
/* section end */
.end{
    background-color: #1a252f;
    
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}